<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongy.dao.UserDao">

    <resultMap id="UserMap" type="com.tongy.pojo.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
    </resultMap>
    <select id="getUserById" resultMap="UserMap">
        select * from mybatis.user where id=#{id}
    </select>

    <select id="selectUser" parameterType="map" resultType="user">
        select * from mybatis.user limit #{startIndex}, #{pageSize}
    </select>

</mapper>