<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tongy.dao.UserDao">
    <select id="getUserList" resultType="hello">
        select * from mybatis.user
    </select>

    <select id="getUserById" resultType="com.tongy.pojo.User">
        select * from mybatis.user where id=#{id}
    </select>

    <update id="update" parameterType="com.tongy.pojo.User" >
        update mybatis.user set name=#{name}, pwd=#{pwd} where id=#{id}
    </update>
    
    <insert id="insert" parameterType="com.tongy.pojo.User">
        insert into mybatis.user (id, name, pwd) values (#{id}, #{name}, #{pwd})
    </insert>

    <delete id="delete" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>
</mapper>